
* {
	box-sizing: border-box;
	margin: 0px 0px;
	padding: 0px 0px;
}

html {
	/* em = start, vw = scaling speed */
	font-size: calc(0.8em + 1vw);
}

body {
	background-color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #aaaaaa;
	max-width: 600px;
	margin: 30px 10px;
}

h1 {
	width: 100%;
	text-align: center;
}

h1, h2, h3, h4 {
	margin: 20px 0px;
	margin-top: 40px;
}

p {
	margin: 30px 0px;
	line-height: 1.5;
}

img {
	width: 100%;
}

img:hover {
    transition: 0.1s;
	opacity: 0.7;
}

ul {
	margin-left: 20px;
	line-height: 1.5;
}

li {
	padding: 5px 0px;
}

table {
}

table * {
	vertical-align: middle;
}

.bordered {
	padding: 5px 5px;
	border-width: 3px; 
	border-style: solid;
	border-radius: 5px;
}

.centered {
	text-align: center;
}

table.bordered {
	border-collapse: collapse;
}

table.bordered td,
table.bordered th {
	border: 2px solid #000000;
}

blockquote, pre {
	overflow-x: auto;
	font-family: serif;
	font-size: 0.85em;
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}

blockquote p, pre code {
	display: inline;
}

@media only screen and (min-width: 600px) {
	body {
		margin: 30px auto;
	}
}
